@import "old";
@import "variables";
@import "footer";
@import "header";
@import "main";
@import "akkordeon";
@import "slider";
@import "form";

body{
  font-family: "Open Sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}